<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.quickcheck.categories.properties"
            name="Properties">
      </category>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.fullmoduleheader"
            name="Full module header">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.includeeqc"
            name="Include eqc">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.exportall"
            name="Export all">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.property"
            name="Property">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.macroimplies"
            name="Macro IMPLIES">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.macroforall"
            name="Macro FORALL">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.macrowhenfail"
            name="Macro WHENFAIL">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.macrotrapexit"
            name="Macro TRAPEXIT">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.macroalways"
            name="Macro ALWAYS">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.macrosometimes"
            name="Macro SOMETIMES">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.functionaggregate"
            name="Function aggregate">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.functionclassify"
            name="Function classify">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.functioncollect"
            name="Function collect">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.functionfails"
            name="Function fails">
      </command>
      <command
            categoryId="org.quickcheck.categories.properties"
            id="org.quickcheck.properties.functionmeasure"
            name="Function measure">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.exportall">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.fullmoduleheader">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.includeeqc">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.property">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.macroimplies">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.macroforall">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.macrowhenfail">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.macrotrapexit">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.macroalways">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.macrosometimes">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.functionaggregate">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.functionclassify">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.functioncollect">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.functionfails">
      </handler>
      <handler
            class="org.quickcheck.integration.handlers.PropertiesHandler"
            commandId="org.quickcheck.properties.functionmeasure">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="QuickCheck"
               mnemonic="Q">
            <menu
                  label="Properties"
                  mnemonic="P">
               <command
                     commandId="org.quickcheck.properties.fullmoduleheader"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.includeeqc"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.exportall"
                     style="push">
               </command>
               <separator
                     name="org.quickcheck.menu.properties.separator0">
               </separator>
               <command
                     commandId="org.quickcheck.properties.property"
                     style="push">
               </command>
               <separator
                     name="org.quickcheck.menu.properties.separator1">
               </separator>
               <command
                     commandId="org.quickcheck.properties.macroimplies"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.macroforall"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.macrowhenfail"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.macrotrapexit"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.macroalways"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.macrosometimes"
                     style="push">
               </command>
				<separator
                     name="org.quickcheck.menu.properties.separator2">
               </separator>
               <command
                     commandId="org.quickcheck.properties.functionaggregate"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.functionclassify"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.functioncollect"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.functionfails"
                     style="push">
               </command>
               <command
                     commandId="org.quickcheck.properties.functionmeasure"
                     style="push">
               </command>
            </menu>
            <menu
                  label="Generators"
                  mnemonic="G">
            </menu>
            <menu
                  label="State machines specs"
                  mnemonic="S">
            </menu>
            <menu
                  label="Final state machine (FSM) specs"
                  mnemonic="F">
            </menu>
            <menu
                  label="C code specifications"
                  mnemonic="c">
            </menu>
            <separator
                  name="org.quickcheck.menu.separator0">
            </separator>
            <menu
                  label="Version"
                  mnemonic="v">
            </menu>
             <visibleWhen>
			 	<with variable="activeEditorId">
			    	<or>
			      		<equals value="org.erlide.ui.editors.erl.ErlangEditor" />			 
			 		</or>
				</with>
			</visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
